
/* Mixins */

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
            transform: translateY($e);
} 

@mixin transition($e) {
    -webkit-transform: $e;
    -moz-transform: $e;
            transition: $e;
}




html, body {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 16px;
}  


a {
    @include transition( .4s ease-in-out);
    cursor: pointer;
    
    &:hover {
    color: white;
    text-decoration: none;
    @include transition( .4s ease-in-out);
    }
}

p{
    font-size: 18px;
    line-height: 30px;
}

.container-fluid {
    padding:24px;
}


