@import '_reset';
@import "_config.scss";

header { 
    position:fixed;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    width:100%;
    color:white;
    height:90px;
    transition: background-color 0.5s linear;
    


    .logo {
        position: absolute;
        top: 50%; left: 15px;
        padding: 20px;
        font-size: 25px;
        @include translateY(-50%);

        a {
            color: #fff;
        }
    }  

    nav, 
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav{
        position: absolute;
        top:40%; right: 25px;
        @include transition(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 20px;

            &.last {
                margin: 0;

            }

            a{
                font-size: 19px;
                line-height: normal;
                color: white;
            }
        }
     
    }
}
li {
    padding-bottom: 20px;
}

#homepage {

    .jumbotron {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100vh;
        .lead {
            position: absolute;
            top: 70vh;
            left: 50%;

            border-radius: 50%;
            width:120px;
            height: 120px;
            background-color: rgba(0, 123, 255, .65);
            margin-left: -60px;
            text-align: center;
            font-size: 50px;

            a {
                line-height: 120px;
            color: #fff;

            
            i.fa.fa-angle-down {
                font-size: 80px;
                line-height: 120px;
            }
            

            }

        }

    }

}

#page {
    .jumbotron {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 30vh;
        vertical-align: center;



    }
        h1{
            text-align: center;
            text-transform: uppercase;
            padding-top: 40px;
            font-size: 72px;
            color: #fff;
        }
}

.logo-container {
    padding-top: 40px;
    text-align: center;
}


footer{
    background-color: #000;
    position: relative;
    height: 150px;
    clear: both;
    margin-top: -150px;
    padding-top: 20px;

    .footer-nav {
        padding: 20px;
    }
}
#main {
    overflow: auto;
    padding-bottom: 180px;
}
#wrapper {
    position: relative;
    min-height: 100%;
}
